{% extends "base.html" %}
{% load static %}

{% block title %}
    Adam Shipping | About Us
{% endblock %}

{% block content %}
    <div class="hero-about-container">
        <div class="hero-about">
            <h1 class="about-header">Your Shipping Needs, Our Top Priority </h1>
            <p class="about-description">At Adam-Shipping, we put you first. We understand that every shipment is unique, and we're dedicated to providing personalized service and flexible solutions to meet your specific requirements. From the moment you connect with us to the final delivery, your satisfaction is our driving force.</p>
        </div>
    </div>
    <div class="about-container">
        <div class="about-content-2">
            <div class="about-content-1">
                <h2 class="about-header-1">Our Impact at a Glance</h2>
                <p class="about-description-1"> We're proud of the positive results we've achieved for our customers.</p>
            </div>
            <div class="left-hover-container">
                <div class="about-2-left">
                    <h2 class="about-header-2">30k+</h2>
                    <p class="about-description-2">Happy Customers</p>
                </div>
                <div class="about-2-left">
                    <h2 class="about-header-2">10m+</h2>
                    <p class="about-description-2">Hours Saved</p>
                </div>
                <div class="about-2-left">
                    <h2 class="about-header-2">50%</h2>
                    <p class="about-description-2">Below national avg accident</p>
                </div>
                <div class="about-2-left">
                    <h2 class="about-header-2">10+</h2>
                    <p class="about-description-2">Years of experience</p>
                </div>
            </div>
            <div class="about-2-right">
                <img src="{% static 'images/about-sider.svg' %}" alt="Zurix Shipping Illustration" class="about-side-image">
            </div>
        </div>
    </div>
    <div class="faqs-container">
        <h2 class="faq-title">FAQs</h2>

        <div class="faq">
            <div class="question">
                <h3>What Shipping Methods do you offer ?</h3>

                <svg width="25" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="#000" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    We offer Standard Shipping (3-5 business days) and Expedited Shipping (1-2 business days) within Malaysia.
                </p>
            </div>
        </div>

        <div class="faq">
            <div class="question">
                <h3>Do you ship internationally ?</h3>

                <svg width="25" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="#000" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    Yes, we ship to most countries. International shipping rates vary by destination and will be calculated at checkout.
                </p>
            </div>
        </div>

        <div class="faq">
            <div class="question">
                <h3>What are your estimanted delivery times ?</h3>

                <svg width="25" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="#000" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    Standard Shipping: 3-5 business days within the Malaysia. <br>
                    Expedited Shipping: 1-2 business days within the Malaysia. <br>
                    International Shipping: 7-14 business days, but may vary depending on the destination and customs clearance.
                </p>
            </div>
        </div>

        <div class="faq">
            <div class="question">
                <h3>How can I track my order ?</h3>

                <svg width="25" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="#000" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    Go to contact us page and request your package to be tracked, or you can calll our phone line and send us an email with your request.
                </p>
            </div>
        </div>
    </div>
    <div class="testimonials">
        <h2 class="testimonial-header">What other People say About Our Business</h2>        <div class="testimonial-container">
            <div class="testimonial">
                <img class="profile" src="{% static 'images/profile1.svg' %}" alt="James Wilson Profile">
                <p class="testimonial-text">"The best shipping company I have ever used. They are fast, reliable and affordable. I highly recommend them."</p>
                <p class="testimonial-author">- James Wilson</p>
            </div>
            <div class="testimonial">
                <img class="profile" src="{% static 'images/profile2.svg' %}" alt="Sarah Johnson Profile">
                <p class="testimonial-text">"Without a doubt, this is the best shipping company I have ever had the pleasure of using. Their service is remarkably fast, consistently reliable, and surprisingly affordable. "</p>
                <p class="testimonial-author">- Sarah Johnson</p>
            </div>
            <div class="testimonial">
                <img class="profile" src="{% static 'images/profile3.svg' %}" alt="Michael Davis Profile">
                <p class="testimonial-text">"In my experience, this company stands out as the best shipping service available. They are impressively fast in their deliveries, consistently reliable with their timelines."</p>
                <p class="testimonial-author">- Michael Davis</p>
            </div>
        </div>
    </div>
{% endblock %}