{% extends "base.html" %}
{% load static %}

{% block title %}
    Zurix Shipping
{% endblock %}

{% block content %}
    <div class="hero-container">
        <div class="hero">
            <h1 class="hero-header">Shipping made easy</h1>
            <p class="hero-description">Get your goods delivered to your doorstep</p>
            <div class="btn-hero">
                <button class="hero-btn-1"><a href="/About">Learn More</a></button>
                <button class="hero-btn"><a href="/Contact">Contact Us</a></button>
            </div>
        </div>
    </div>
    <div class="services-container">
        <div class="services">
            <h1 class="services-header">Our Services</h1>
            <div class="services-grid">
                <div class="service">
                    <img src="{% static "images/flight.svg" %}" alt="Airplane" class="service-img">
                    <h2 class="service-header">Air Freight</h2>
                    <p class="service-description">We offer air freight services to get your goods delivered in the shortest time possible.</p>
                </div>
                <div class="service">
                    <img src="{% static "images/ship.svg" %}" alt="Ship" class="service-img">
                    <h2 class="service-header">Sea Freight</h2>
                    <p class="service-description">We offer sea freight services to get your goods delivered in the shortest time possible.</p>
                </div>
                <div class="service">
                    <img src="{% static "images/truck.svg" %}" alt="Truck" class="service-img">
                    <h2 class="service-header">Road Freight</h2>
                    <p class="service-description">We offer road freight services to get your goods delivered in the shortest time possible.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="why-us-container">
        <div class="why-us">
            <h1 class="why-us-header">Why Choose Us</h1>
            <div class="why-us-grid">
                <div class="why-us-item">
                    <img src="{% static 'images/quality.svg' %}" alt="Quality" class="why-us-img">
                    <h2 class="why-us-header">Quality</h2>
                    <p class="why-us-description">We offer quality services to ensure your goods are delivered in the best condition</p>
                </div>
                <div class="why-us-item">
                    <img src="{% static 'images/spped.svg' %}" alt="Speed" class="why-us-img">
                    <h2 class="why-us-header">Speed</h2>
                    <p class="why-us-description">We offer fast delivery services to ensure your goods are delivered in the shortest time possible</p>
                </div>
                <div class="why-us-item">
                    <img src="{% static 'images/money.svg' %}" alt="Affordable" class="why-us-img">
                    <h2 class="why-us-header">Affordable</h2>
                    <p class="why-us-description">We offer affordable services to ensure you get the best value for your money</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}