<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
</head>
<body>

    <nav class="navbar">
		<div class="navdiv">
			<div class="logo"><a href="#">Zurix-Shipping</a> </div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<button class="nav-btn"><a href="#">Get Quote</a></button>
			</ul>
		</div>
	</nav>
  {% block content %}
  
  {% endblock %}

</body>
</html>