{% extends "base.html" %}

{% block title %}
    Zurix Shipping | About Us
{% endblock %}

{% block content %}
    <div class="hero-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>About Us</h1>
                    <p>Zurix Shipping is a leading provider of shipping and logistics services in Nigeria. We offer a wide range of services including air freight, sea freight, road freight, warehousing, and customs clearance. Our team of experienced professionals is dedicated to providing our customers with the best possible service at competitive prices. We are committed to helping our customers grow their businesses by providing them with the tools and resources they need to succeed.</p>
                </div>
                <div class="col-md-6">
                    <img src="" alt="About Us" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
{% endblock %}