{% extends "base.html" %}

{% block title %}
    Zurix Shipping | About Us
{% endblock %}

{% block content %}
    <div class="hero-about-container">
        <div class="hero-about">
            <h1 class="about-header">Heading 1</h1>
            <p class="about-description">The desription</p>
        </div>
    </div>
    <div class="about-container">
        <div class="about-content-2">
            <div class="about-content-1">
                <h2 class="about-header-1">Heading 2</h2>
                <p class="about-description-1">The desription</p>
            </div>
            <div class="left-hover-container">
                <div class="about-2-left">
                    <h2 class="about-header-2">Heading 3</h2>
                    <p class="about-description-2">The desription</p>
                </div>
                <div class="about-2-left">
                    <h2 class="about-header-2">Heading 3</h2>
                    <p class="about-description-2">The desription</p>
                </div>
                <div class="about-2-left">
                    <h2 class="about-header-2">Heading 3</h2>
                    <p class="about-description-2">The desription</p>
                </div>
                <div class="about-2-left">
                    <h2 class="about-header-2">Heading 3</h2>
                    <p class="about-description-2">The desription</p>
                </div>
            </div>
            <div class="about-2-right">
                <img src="" alt="">
            </div>
        </div>
    </div>
{% endblock %}