{% extends "base.html" %}

{% block title %}
    Zurix Shipping
{% endblock %}

{% block content %}
    <div class="hero-container">
        <div class="hero">
            <h1 class="hero-header">Shipping made easy</h1>
            <p class="hero-description">Get your goods delivered to your doorstep</p>
            <div class="btn-hero">
                <button class="hero-btn-1">Learn More</button>
                <button class="hero-btn">Contact Us</button>
            </div>
        </div>
    </div>
    <div class="track-container">
        <div class="track">
            <h1 class="track-header">Track your shipment</h1>
            <p class="track-description">Enter your tracking number to get the latest update on your shipment</p>
            <div class="track-form">
                <input type="text" class="track-input" placeholder="Tracking number">
                <button class="track-btn">Track</button>
            </div>
        </div>
    </div>
{% endblock %}