{% extends "base.html" %}

{% block title %}
    Zurix Shipping
{% endblock %}

{% block content %}
    <div class="hero-container">
        <div class="hero">
            <h1 class="hero-header">Shipping made easy</h1>
            <p class="hero-description">Get your goods delivered to your doorstep</p>
            <div class="btn-hero">
                <button class="hero-btn-1">Get Quote</button>
                <button class="hero-btn">Contact Us</button>
            </div>
        </div>
    </div>
{% endblock %}